* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 1044px) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 940px) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 43.75%; } }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #757575;
  line-height: 1.7; }

/* 
-MEDIA QUERY MANAGER-
412px : small phone
600px : phone
900px : Tablet portrait
1200px : Tablet landscape
1800+ : Big desktop

BREAKPOINTS
small-phone : small phone
phone : phone
tab-port : Tablet portrait
tab-land : Tablet landscape
big-desktop : Big desktop
*/
/* UTILITIES */
.u-center {
  text-align: center; }

.u-margin-bottom-medium {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.2rem; }

.u-margin-top-inverse {
  margin-top: -8rem; }

/* HEADING */
.primary-heading {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .primary-heading {
      margin-bottom: 2rem; } }
  .primary-heading span {
    display: inline-block;
    width: 100%; }
  .primary-heading-main {
    text-align: left;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .primary-heading-main {
        text-align: left;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: .5rem; } }
  .primary-heading-sub {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: left;
    letter-spacing: .2rem; }
    @media only screen and (max-width: 37.5em) {
      .primary-heading-sub {
        text-align: left;
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: .25rem; } }

.secondary-heading-1, .secondary-heading-2 {
  font-size: 3rem;
  text-transform: uppercase; }

.secondary-heading-1 {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #fe767a, #cb5c5f); }

.secondary-heading-2 {
  color: lavenderblush; }

.tertiary-heading {
  display: block;
  font-size: 2rem;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #4CAF50, #388E3C); }

.paragraph {
  font-size: 1.5rem;
  margin-bottom: 2rem; }

/* 
BUTTONS 
*/
.btn:active, .btn:focus {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }

.btn:link, .btn:visited {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  padding: .35rem .5rem .35rem 1rem;
  display: inline-flex;
  align-items: center;
  position: relative;
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4rem;
  transition: all .2s; }

.btn:hover {
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 0.6rem 3rem rgba(0, 0, 0, 0.4); }

.btn-pry:link, .btn-pry:visited {
  text-transform: uppercase; }

.btn-pry:hover {
  background-color: rgba(203, 92, 95, 0.8);
  border: 1px solid #cb5c5f; }

.btn-sec {
  margin-top: 1rem; }
  .btn-sec:hover {
    background-color: rgba(56, 142, 60, 0.6);
    border: 1px solid #388E3C; }

.btn__bg {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: .6rem; }
  .btn__bg-pry {
    background-color: #fe767a; }
  .btn__bg-sec {
    background-color: #4CAF50; }

.btn__icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1.5rem;
  width: 1.5rem;
  fill: #fff; }

.text-button:link, .text-button:visited {
  display: inline-block;
  font-size: 1.3rem;
  color: #fe767a;
  padding: .8rem;
  border-bottom: 1px solid #fe767a;
  text-decoration: none;
  transition: all .4s; }

.text-button:hover {
  color: #fff;
  background-color: #fe767a;
  padding: .8rem; }

.letter__icon {
  letter-spacing: .16rem; }

.form-class {
  margin-top: 2rem; }

.form_submit {
  margin: 1rem 0;
  display: inline-block;
  width: 30%;
  padding: 1rem 0;
  border-radius: .7rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: #fff;
  background-color: #37af65; }

.form_input {
  outline: none;
  border: none;
  display: inline-block;
  font-family: inherit;
  width: 60%;
  padding: .8rem 1.2rem;
  margin-top: .4rem;
  border-radius: .5rem; }

.footer__icon {
  fill: rgba(76, 175, 80, 0.8);
  width: 4rem;
  height: 4rem; }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(76, 175, 80, 0.3), rgba(56, 142, 60, 0.3)), url(../img/music-01.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 70vh; } }
  .header__navigation {
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between; }
  .header__logo-box {
    float: left; }
    .header__logo-box-text {
      display: inline-block;
      font-family: 'Work Sans', sans-serif;
      font-weight: 00;
      font-size: 1.8rem;
      margin-left: -3.5rem;
      color: #000; }
      @media only screen and (max-width: 37.5em) {
        .header__logo-box-text {
          visibility: hidden; } }
  .header__logo {
    width: 7rem; }
  .header__nav {
    padding-right: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .header__nav {
        visibility: hidden; } }
    .header__nav-list {
      list-style: none;
      margin-top: 2rem; }
    .header__nav-item {
      font-weight: inherit;
      display: inline-block; }
      .header__nav-item:not(:last-child) {
        padding-right: 3rem; }
    .header__nav-link:link, .header__nav-link:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: #eee;
      border-bottom: 2px solid transparent;
      padding-bottom: .6rem;
      font-size: 1.35rem;
      transition: all .2s; }
    .header__nav-link:active, .header__nav-link:hover {
      border-bottom: 0.3rem solid #fe767a;
      padding-bottom: .6rem; }
  .header__text-box {
    border-left: 0.5rem solid #fe767a;
    margin: 8rem 8rem;
    padding-left: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .header__text-box {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 0 0 2rem; } }
    @media only screen and (max-width: 26.56em) {
      .header__text-box {
        width: 80%;
        position: absolute;
        left: 40%;
        transform: translate(-50%, -50%); } }
  @media only screen and (max-width: 37.5em) {
    .header__popup {
      width: 6rem;
      height: 6rem;
      background-color: #fff;
      border-radius: 50%;
      text-align: center;
      position: fixed;
      top: 4rem;
      right: 4rem; }
      .header__popup-line {
        margin-top: 3rem;
        display: inline-block;
        width: 4rem;
        height: .2rem;
        background-color: #000;
        position: relative; }
        .header__popup-line::before, .header__popup-line::after {
          content: "";
          position: absolute;
          left: 0;
          display: inline-block;
          width: 4rem;
          height: .2rem;
          background-color: #000; }
        .header__popup-line::before {
          top: -.8rem; }
        .header__popup-line::after {
          top: .8rem; } }

/*
MAIN
*/
.main {
  padding: 5rem 0 0rem 0;
  background-color: #f1efef; }
  .main .box {
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 37.5em) {
      .main .box {
        align-content: center; } }
    .main .box__left {
      flex: 0 0 40%;
      text-align: justify; }
      .main .box__left-icon-box {
        fill: rgba(76, 175, 80, 0.8);
        width: 4rem;
        height: 4rem; }
      .main .box__left__text {
        width: 70%; }
      @media only screen and (max-width: 37.5em) {
        .main .box__left {
          flex: 0 90%; } }
    .main .box__right {
      flex: 0 1 25%; }
      .main .box__right-img {
        width: 100%; }
      @media only screen and (max-width: 37.5em) {
        .main .box__right {
          order: -2;
          flex-basis: 40%; } }

/*
PRICING
*/
.pricing {
  color: #fff;
  padding: 0 0 8rem 0;
  background-image: linear-gradient(to right, #68d38d, rgba(88, 175, 115, 0.9));
  display: flex;
  flex-flow: row wrap; }
  @media only screen and (max-width: 37.5em) {
    .pricing {
      padding: 0 0 4rem 0; } }
  .pricing__svg {
    flex: 1 100%; }

.choose-us {
  display: flex;
  flex-flow: row wrap;
  margin: -13rem 8rem 0 8rem;
  justify-content: space-between; }
  .choose-us__left {
    color: #f1efef;
    font-size: 5rem;
    align-self: center; }
    @media only screen and (max-width: 37.5em) {
      .choose-us__left {
        order: -1;
        margin-top: 4rem; } }
  .choose-us__right {
    font-size: 1.5rem;
    flex: 0 60%; }
    @media only screen and (max-width: 37.5em) {
      .choose-us__right {
        flex: 0 100%;
        margin-bottom: 1rem; } }
  .choose-us__paragraph:not(:last-child) {
    margin-bottom: 2rem; }

/*
FOOTER
*/
.footer {
  background-color: #dad8d8;
  padding: 5rem 0 6rem 0; }
  .footer__reach-us {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: left;
    max-width: 114rem;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .footer__reach-us {
        max-width: 80%;
        margin: 0 auto;
        align-content: space-between; } }
    .footer__reach-us-left {
      flex: 0 40%; }
      @media only screen and (max-width: 37.5em) {
        .footer__reach-us-left {
          flex: 0 90%;
          margin-bottom: 4rem; } }
    .footer__reach-us-right {
      flex: 0 40%; }
      @media only screen and (max-width: 37.5em) {
        .footer__reach-us-right {
          flex: 0 90%; } }
