* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 62.5% = (10px/16px)*100
  @media screen and (max-width: 1044px) {
    font-size: 56.25%; //(9/16) * 100
  }
  @media screen and (max-width: 940px) {
    font-size: 50%; //(8/16) * 100
  }
  @media screen and (max-width: 768px) {
    font-size: 43.75%; //(7/16) * 100
  }
   
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #757575;
  line-height: 1.7;
}